/* RESPONSIVE SIZING */
@media (max-width: 1024px) {
header,nav,article {width:100%;max-width:100%;margin:0;padding-right:1em;padding-left:1em;}
article {width:100%;max-width:100%;}
aside,footer {display:none}
}


