/* Put sidebar on the right side of the page. Article area floats to the left. */
:root 
{
	--max-article-width:77%;
	--max-aside-width:18%;
	--full-page:77%;
	--left-gap:5%
	--right-gap:0;
}
nav{margin-left:var(--left-gap);}
article, aside {float:left}
article {clear:left;}
aside {margin-left:0;padding-left:0;padding-right:0%;margin-right:0}

