html, body, p {font-family:var(--formal);}
h1{ font-size:2.5em;margin-top:2rem; }
h2{ font-size:2em;margin-top:1.5rem; }
h3{ font-size:1.5em;margin-top:1.5rem; }
h4{ font-size:.9em;margin-top:1rem;}
h5{ font-size:.8em; }
h6{ font-size:0.9em; }

table > thead > tr > th  {margin-top:4rem;}
iblockquote {font-style:italic;margin: 2rem 2rem 2rem 2rem;}

/* ****************************/
/*  HEADER BRANDING AND LINKS */
/* ****************************/

/*
 * --------------------------------------------------
 * Simplest case: Branded name, nothing else
 * Doesn't act like a link.
 * --------------------------------------------------
 */
header > p {font-size:var(--branding-height);display:inline;} 

 
/*
 * --------------------------------------------------
 * If you have more than one item, use an unordered list. 
 * These styles show the first item with branding applied,
 * any number of links following, still slightly
 * larger than body text, and a last link that
 * looks like a button.
 * --------------------------------------------------
 */
header > ul {line-height:var(--header-height);}
header > ul {margin-left:0;padding-left:0;list-style-type:none;display:inline;}
header > ul > li{display:inline;padding-right:1.5rem;font-size:1.25rem;} 
header > ul > li > a,
header > ul > li > a:link,
header > ul > li > a:visited
	{text-decoration:none;}
header > ul > li > a:hover,
header > ul > li > a:active
	{text-decoration:underline;}

/* ******************************/
/*  NAVBAR                      */
/* ******************************/

nav > p > a {margin-right:1em;}
nav > p {margin-top:0;line-height:var(--nav-height);}
nav > img {display:inline;}
nav > p > a {font-style:normal;}

nav > ul > li {list-style-type:none;} 
nav > ul > li > a,
nav > ul > li > a:link,
nav > ul > li > a:visited {display:inline;text-decoration:none;;} 
/* For accessibility purposes show visual distinction when hovering or active */
nav > ul > li > a:hover,
nav > ul > li > a:active {text-decoration:underline;} 

nav > p > a,
nav > p > a:link,
nav > p > a:visited {display:inline;text-decoration:none;;} 
/* For accessibility purposes show visual distinction when hovering or active */
nav > p > a:hover,
nav > p > a:active {text-decoration:underline;} 





/* ******************************/
/*  ARTICLE-MAIN PORTION OF TEXT*/
/* ******************************/

article > h1 {font-size:4rem;margin-top:0;margin-bottom:3rem;}
article > h2 {margin-top:4rem;}
article > h4 {font-size:1em;margin-bottom:1rem; } /* Byline */
article > h4 > strong {font-weight:bold;} /* Byline */

article > p, 
  article > ul, 
  article > ol, 
  article > li, 
  article > dd, 
  article > dl,
  article > hr {
		font-size:1.5rem;
		line-height:2.25rem;
		margin-top:1.5em;
    ipadding-right:var(--right-end);
}

article > ul, article > ol {margin-top:.5em;}
/* Override font rule for code */
article > p > code, article > code, article > pre, article > pre > code {
		font-family:var(--code);
		font-size:.9rem;
		overflow:auto;
    margin-bottom:1em;
    line-height:1.5em;

		}
article > pre { padding-left: 1em;line-height:1.5em;}
article > p > a,
article > p > a:link,
article > p >  a:visited
	{text-decoration:underline;}
article > p >  a:hover,
article > p >  a:active
	{text-decoration:none;}

article > img, article > p > img {
  width:100%;
  box-shadow: rgb(128,128,128) 1px 1px 3px 0px;
  display:block;
}


article > table {width:var(--full-page);margin-top:2rem;margin-bottom:3rem;}
article > table > td,th {padding:1rem;}
article > table > tbody > tr > td {padding:1rem;}


/* ******************************/
/*  SIDEBAR (ASIDE TAG)         */
/* ******************************/

aside {height:100vh;margin-top:8rem;}

aside, aside > p, aside > h2, aside > h3, aside > h4 {margin-left:0;} 
aside > p {margin-bottom:1rem;font-size:.8rem;}
aside > h2 {margin:0;font-size:1.75rem;white-space:nowrap;}
aside > h3 {font-size:1em;margin-bottom:1rem;}
aside > h5 {text-align:center;margin-left:0;padding-left:0;margin-top:2rem;margin-bottom:1rem;}
aside > h6  {font-style:italic;}

/*
 * --------------------------------------------------
 * Special feature: Unordered list in the sidebar
 * appears as up to 3 separate outline levels. Just
 * indent bullets 2 spaces for each level.
 * --------------------------------------------------
 */
aside ul, aside > ul li, aside > ul > li li, aside > ul > li li li
{
  list-style:none;
  margin-left:0;
  padding-left:0;
}
aside > ul > li > a,
aside > ul > li > a:link,
aside > ul > li > a:visited,
aside > ul > li li > a,
aside > ul > li li > a:link,
aside > ul > li li > a:visited,
aside > ul > li li > a,
aside > ul > li li li > a:link,
aside > ul > li li li > a:visited
{
  text-decoration-style:dotted;
  text-decoration-thickness:.1rem;
  text-underline-offset:.2rem;
  line-height:1.75em;
}


/* List order goes up to 3 levels visually but they don't show by
 * indentation--they have been flatted horizontally to maximize space
 * on the sidebar. Show top level as bold. Level 2 is non-bold. 
 * Level 3 shows with a right-pointing triangle. */
aside > ul li {font-weight:normal;}
/* Nothing needs be done for level 2. This is for level 3: */
aside > ul > li > ul > li > ul > li:before  {
	content: '▸';
	margin-right:.5em;

}  


/* ******************************/
/*  FOOTER                      */
/* ******************************/

/* FOOTER */
footer {border-top: 1px solid var(--trim-fg);padding-bottom:1rem;} 
footer > h2 {text-align:center;}
footer > table {font-size:calc(80%);}
/* Give table columns to get some breathing room */
footer > table > thead > tr > th {padding-right:2rem;} 
footer > table > thead > tr > th {padding-top:1em;padding-right:2em;padding-bottom:1em;}
footer > table > tbody > tr > td {padding-right:3em;}

footer > table > tbody > tr > td > a:link,
footer > table > tbody > tr > td > a:visited
	{text-decoration:none;}
footer > table > tbody > tr > td > a:hover,
footer > table > tbody > tr > td > a:active
	{text-decoration:underline;}


