/* RESPONSIVE SIZING */
@media (max-width: 1024px) {
  header,nav,article {margin-left:0;margin-right:0;padding-left:1rem;padding-right:0}
  article{width:90%;margin:0;padding:0;}
  aside {margin:0;display:none;}
  footer {display:none}
}


