h1{ font-size:3rem;margin-top:2rem; }
h2{ font-size:2rem;margin-top:1.5rem; }
h3{ font-size:1.5rem;margin-top:1.5rem; }
h4{ font-size:.9rem;margin-top:1rem;}
h5{ font-family:var(--code);font-size:1rem;font-weight:bold;margin-top:1rem; }
h6{ font-size:0.9rem; }

table > thead > tr > th  {margin-top:4rem;}

/* HEADER */
/* Unordered lists show horizontally, not vertically, in the header */

header {width:100%;}
header > ul {margin-left:0;padding-left:0;list-style-type:none;display:inline;}
header > ul > li{display:inline;padding-right:1.5rem;font-size:1.5rem;font-weight:700;} 
header > ul > li > a,
header > ul > li > a:link,
header > ul > li > a:visited
	{text-decoration:none;}
header > ul > li > a:hover,
header > ul > li > a:active
	{text-decoration:underline;}

/*
 * --------------------------------------------------
 * Special feature: First item in list has biggest
 * branding
 * --------------------------------------------------
 */
header > ul > li:first-child > a {font-size:var(--branding-height);font-weight:700;letter-spacing:-2px;padding-right:.5rem;}


/* NAV */
nav > img {display:inline;}
nav > ul > li {display:inline;list-style-type:none;} 
nav > ul > li > a,
nav > ul > li > a:link,
nav > ul > li > a:visited {display:inline;text-decoration:none;font-size:1.5rem;font-weight:500;margin-right:1em;} 
/* For accessibility purposes show visual distinction when hovering or active */
nav > ul > li > a:hover,
nav > ul > li > a:active {text-decoration:underline;} 
nav > ul > li > a > img {height:1em;line-height:1em;}

/* ARTICLE */
article {max-width:var(--max-article-width);}
article > h1 {font-size:4rem;font-weight:700;letter-spacing:-2px;line-height:1em;}
article > h2 {font-weight:700;font-size:2.5rem;line-height:1em;}
article > h3 {font-weight:700;}

/*
 * --------------------------------------------------
 * Special feature: h4 has multiple formats to give 
 * variety to subheads or higlights. Typical usage
 * might look something like this
 *
 * #### By Tom Campbell *| Staff reporter |* **{{ ftime "Jan 2, 2006" }}**
 * 
 * This would show the name in bold sans-serif, 
 * the job title in a normal-weight serif, and
 * the date in normal weight sans-serif, with pipe
 * characters separating them.
 * --------------------------------------------------
 */

article > h4 {font-weight:700;font-size:1em;margin-bottom:1em; } /* Byline */
article > h4 > em {font-family:var(--formal);font-weight:normal;}
article > h4 > strong {font-family:var(--informal);font-weight:normal;color:gray;}

article > p > strong {font-weight:bold;}
article > p,
  article > ul,
  article > ol,
  article > li,
  article > dl,
  article > hr {
    font-family:var(--formal);
    font-weight:300;
    font-size:1.5rem;
    line-height:2.25rem;
    margin-top:1.25em;
}     

article > ul, article > ol {margin-top:1rem;}
article > p > code, article > code, article > pre, article > pre > code {
  font-family:var(--code);
  font-size:1em;
  overflow:auto;
  margin-bottom:1em;
  line-height:1.5em;
  max-width:100%;
} 

article > p > code{font-size:.8em;padding:.125em .25em .125em .25em;border-radius:.128em;}
article > pre  {padding:.5rem;border-radius:.128em;line-height:1em;}


article > img, article > p > img {width:100%;}
article > table {width:var(--max-article-width);margin-top:2rem;margin-bottom:3rem;}
article > table > td,th {padding:1rem;}
article > table > tbody > tr > td {padding-bottom:.5rem;padding-top:.5rem;}
article > hr {margin-left:0;}

article > blockquote {border-top:4px solid var(--header-fg);border-bottom:4px solid var(--header-fg); font-size:2em;font-style:italic;padding:4rem 2rem 4rem 2rem;margin:2rem;} 

article > blockquote > p {font-family:var(--formal)}
/* ASIDE */
aside {margin: 10% 2rem 2rem 2rem;}
aside > h2 {padding:1em;text-align:center;font-size:1.2rem;font-weight:700;}
aside > h3 {font-size:.75em;font-weight:bold;margin-bottom:2;}
aside > ul {text-align:right;margin-right:1rem;line-height:1.5em;}
aside > ul > li {list-style-type:none;} 
aside > ul > li > a,
aside > ul > li > a:link,
aside > ul > li > a:visited {text-decoration:none;font-size:1rem;line-height:2.5rem;font-weight:normal;margin-right:1em;} 
/* For accessibility purposes show visual distinction when hovering or active */
aside > ul > li > a:hover,
aside > ul > li > a:active {font-weight:bold;} 

aside > p {font-size:1.2rem;margin-bottom:.25rem;margin-top:0;}
aside > p > img {margin-top:.75rem;width:100%;padding:0;}

/* FOOTER */
footer > h2, footer > h2 > a {text-align:center;font-size:4rem;font-weight:900;float:left;margin-right:2rem;text-decoration:none;}
footer > table {font-size:calc(80%);}
/* Give table columns to get some breathing room */
footer > table > td,th {padding-left:0rem;}
footer > table > thead > tr > th {padding-top:1em;padding-bottom:1em;}
footer > table > tbody > tr > td {padding-right:3em;}


