/* RESPONSIVE SIZING */
@media (max-width: 1024px) {
  header,nav,article,.paper,.paper .container {margin-left:.5rem;margin-right:0;padding-left:.25rem;padding-right:.25rem;}
  aside {margin:0;display:none;}
  footer {display:none}
}


