/* IMPORTANT: Downloadable fonts should be imported above this rule  */
:root 
{

		/* ****************/
		/* COLORS         */
		/* ****************/
		/*
		 * Most but not all colors used by a theme appear
		 * in this CSS file as CSS variables, so that you
		 * can make big changes to your theme by doing 
		 * nothing more than altering these values.
		 * 
		 * Text colors use fg, meaning foreground, and
		 * background colors use fg. Sometimes they're
		 * used to color non-text objects, which is why
		 * they aren't called -text or -background.
		 *
		 * --------------------------------------------------
		 * Header style
		 * --------------------------------------------------
		 */
	
		/* Default foreground (text) and background colors  */
		--fg:white;
		--bg:black;

		/* Default foreground (text) and background colors in article */
		--article-fg: var(--fg);
		--article-bg: var(--bg);
				
		/* Default foreground (text) and background colors in aside */
		--aside-fg: var(--fg); 
		--aside-bg: var(--bg);

		/* Primary foreground (text) and background colors in header */
		--header-fg: var(--fg);
		--header-bg: var(--bg);

		/* Primary foreground (text) and background colors in navbar */
		--nav-fg: var(--fg); 
		--nav-bg: var(--bg);

		/* Secondary foreground (text) and background colors for accents. */
		--trim-fg:red; /* cyan: #03DAC6; */
		--trim-bg:white;
		
		/* Primary foreground (text) and background colors in footer */
		--footer-fg: var(--fg);
		--footer-bg: var(--bg);
}


a, a:link, a:visited 
	{color:var(--header-fg);text-decoration:underline;}
a:hover, a:active
	{color:var(--header-fg);text-decoration:none;}


nav > ul > li > a,
nav > ul > li > a:link,
nav > ul > li > a:visited {color:var(--nav-fg);} 
/* For accessibility purposes show visual distinction when hovering or active */
nav > ul > li > a:hover,
nav > ul > li > a:active {text-decoration:underline;} 


article > table > thead > tr > th {color:var(--header-bg);background-color:var(--header-fg);}


footer > h2,
footer > h2 > a,
footer > h2 > a:link,
footer > h2 > a:visited {color:var(--fg);} 


