:root
{
		/* ****************/
		/* DIMENSIONS      */
		/* ****************/
	
		/* Maximum characters on a line in an article. 
		 * Has no effect on the width of the column itself. */
		--max-article-width:60%; 

		/* Widest the sidebar should be */
		--max-aside-width:19%;    

		/* Header, nav, and footer stretch all the way across
		 * the screen at 100%. To see gaps (margins) on either side
		 * reduce that number, then increase --left-gap
		 * and --right-gap. */
		--full-page:60%; 

	 	/* When --full-page is 100% these should be at 0.
		 * When --full-page is less than 100% then these
		 * two should add up to the difference. */
		--left-gap:20%;
		--right-gap:20%;

		/* Starting point from left where text (and by default headers) appears */
		--left-start:5%;

		/* Space between the right edge of the article and the right edge of text */
		--right-end:5%;

		/* Adjusts header height and keeps it vertically centered */
		--header-height:5rem;

		/* Size of the main text in the header. */
		--branding-height:4rem;

		/* Adjusts navbar height and keeps it vertically centered */
		--nav-height:3rem;
}

