/* Put sidebar on the left side of the page. Article area floats to the right. */
:root 
{
	--max-article-width:50%;
  --full-width:60%;
  --right-gap:20%;
}
article, aside {float:right}
article {padding-left:0;margin-left:0;}
article {margin-right:var(--right-gap);}
aside{margin-left:0;margin-right:0;}





