h1{ font-size:2.5em;margin-top:2rem; }
h2{ font-size:2em;margin-top:1.5rem; }
h3{ font-size:1.5em;margin-top:1.5rem;margin-bottom:1em; }
h4{ font-size:.9em;margin-top:1rem;}
h5{ font-size:.8em; }
h6{ font-size:0.9em; }

table > thead > tr > th  {margin-top:4rem;}
blockquote {font-style:italic;margin: 2rem 2rem 2rem 2rem;}

/* ****************************/
/*  HEADER BRANDING AND LINKS */
/* ****************************/

/*
 * --------------------------------------------------
 * Simplest case: Branded name, nothing else
 * Doesn't act like a link.
 * --------------------------------------------------
 */
header > ul > li {font-size:var(--branding-height);} 
header > p {color:var(--header-fg);background-color:var(--header-bg);font-size:var(--branding-height);font-weight:700;display:inline;} 
header > ul > li > a > img {fill:yellow;}
header > ul > li > a > svg path {fill:red!important}
 
/*
 * --------------------------------------------------
 * If you have more than one item, use an unordered list. 
 * These styles show the first item with branding applied,
 * any number of links following, still slightly
 * larger than body text, and a last link that
 * looks like a button.
 * --------------------------------------------------
 */
header > ul {line-height:var(--header-height);font-size:1.25rem;}
header > ul {margin-left:0;padding-left:0;padding-right:1rem;list-style-type:none;display:inline;}
header > ul > li > a {text-decoration:none;color:var(--header-fg);margin-right:2rem;} 

/* Unordered lists show horizontally, not vertically, in the header */
header > ul > li{display:inline;} 
/* Color of links header */
header > ul > li > a:link,
header > ul > li > a:visited
	{color:var(--header-fg);text-decoration:none;}
header > ul > li > a:hover,
header > ul > li > a:active
	{color:var(--header-fg);text-decoration:underline;}




/* For accessibility purposes show visual distinction when hovering */
header > ul > li > a:hover {text-decoration:underline;} 

/*
 * --------------------------------------------------
 * Special feature: First item in list has biggest
 * branding
 * --------------------------------------------------
 */
header > ul > li:first-child > a {color:var(--header-fg);font-size:var(--branding-height);font-weight:700;padding-right:2em;}

/* ******************************/
/*  NAVBAR                      */
/* ******************************/

nav > p > a {font-size:1.5em;margin-right:1em;font-weight:700;}
nav > p {margin-top:0;line-height:var(--nav-height);}
nav > p {background-color:var(--nav-bg); }
nav > img {display:inline;}
nav > p > a {color:var(--nav-fg);font-style:normal;}
/* TODO: Complete these */
nav > li > a:hover{text-decoration:underline;color:var(--trim-fg);}



/* ******************************/
/*  ARTICLE-MAIN PORTION OF TEXT*/
/* ******************************/
article > h1,article > h2 {font-weight:700;margin-bottom:1em;}
article > h2 {margin-top:4rem;}
article > h2 {color:var(--header-bg);margin-bottom:4rem;}
article > h3 {color:var(--fg);}
article > p { margin-bottom:2em;}
article > pre, article > p, article > ul, article > ol, article > li, article > dd, article > dl {
	font-family:var(--informal);
	font-size:1.5rem;
}
article > p > strong {font-family:var(--informal);font-weight:700;}

/* Override font rule for code */
/*
article > code, article > pre, article > pre > code {
	font-family:var(--code);
	font-size:2em;
	overflow:auto;
	line-height:1.25rem;
	color:red;
}
*/

article > hr {margin-right:var(--right-gap);}
article > p > a,
article > p > a:link,
article > p > a:visited
	{font-family:var(--informal);font-weight:bold;color:var(--header-bg);text-decoration:none;}
article > p >  a:hover,
article > p >  a:active
	{text-decoration:underline;}
article > table {width:var(--max-article-width);}

/*
 * --------------------------------------------------
 * Special feature: h4 has multiple distinct character 
 * styles. It's a graphically helpful way to render
 * different kinds of information on a single line
 * at a glance without having  separate classes
 * or table formatting.
 * A typical usage would look like this in markdown:
  
   #### **NEWS** | *Tom Campbell*  ~~{{ ftime "January 02, 2006" }}~~

 *
 * --------------------------------------------------
 */

/* h4 Normal text is actually meant only for separator characters */
article > h4 {margin-top:1rem;color:var(--trim-fg);margin-bottom:1rem;}
/* h4 **bold** formatting is good for the section name */ 
article > h4 > strong {color:black;}
/* h4 *em* formatting is bold but stil lighter; good for author credit */
article > h4 > em {color:gray;font-style:normal;font-weight:bold;font-size:1.2em;}
/* h4 ~~strikeout~~ formatting is abused for a dateline, and pulled to the right */
article > h4 > del {float:right;margin-right:4em;text-decoration:none;color:var(--trim-fg);font-size:1.2em;}

/*
 * --------------------------------------------------
 * Special feature: ul following h1 is displayed at
 * larger size. It's used to emphasize important points
 * of an article right up front.
 * --------------------------------------------------
 */
article > h1 + ul { margin-bottom:1em;font-family:var(--informal);}
article > h1 + ul li {font-weight:bold;font-size:1em;line-height:1.2em;margin-bottom:.5em;}

article > h6 {font-family:var(--formal);color:gray;}



/* ******************************/
/*  SIDEBAR (ASIDE TAG)         */
/* ******************************/


aside {border-bottom:1rem solid var(--header-bg);padding-bottom:2rem;}
aside, aside > p, aside > h2, aside > h3, aside > h4 {margin-left:0;padding-left:1rem;padding-right:1rem;} 
aside > p > img {float:left;}
aside h2 {font-size:1.5rem;font-weight:bold;border-bottom:1rem solid var(--header-bg);margin-top: 2em;margin-bottom:1em}
aside > h3 {margin-left:120px;margin-top:0;
font-size:1rem;font-weight:bold;color:var(--trim-fg);margin-bottom:0;}
aside > h3 + p, aside > h3 + a {padding-top:0;margin-bottom:0;margin-left:120px;font-weight:normal;color:red;margin-top:0;}
aside > h4 {margin-left:120px;font-weight:bold;color:gray;}

/*
 * --------------------------------------------------
 * Special feature: Use Strikethrough markup to get
 * a big box around text. Works great on a single
 * letter.
 * --------------------------------------------------
 */
aside > h3 > del {font-size:3rem;font-weight:900;color:var(--header-bg);margin:.25rem;padding:.25em;border:.5rem solid var(--header-bg);text-decoration:none;} 



/* ******************************/
/*  FOOTER                      */
/* ******************************/

/* FOOTER */
footer {border-top: 1px solid var(--trim-fg);padding-bottom:1rem;} 
footer > h2 {text-align:center;}
footer > table {font-size:calc(80%);}
/* Give table columns to get some breathing room */
footer > table > thead > tr > th {width:var(--max-article-width);padding-right:2rem;} 
footer > table > thead > tr > th {color:var(--trim-fg);background-color:var(--footer-bg);}
footer > table > thead > tr > th {padding-top:1em;padding-right:2em;padding-bottom:1em;}
footer > table > tbody > tr > td {padding-right:3em;}

footer > table > tbody > tr > td > a,
footer > table > tbody > tr > td > a:link,
footer > table > tbody > tr > td > a:visited
	{color:var(--header-fg);text-decoration:none;}
footer > table > tbody > tr > td > a:hover,
footer > table > tbody > tr > td > a:active
	{color:var(--header-fg);text-decoration:underline;}


