/* Put sidebar on the left side of the page. Article area floats to the right. */
:root {
  --max-article-width:65%;
	--left-start:25%;
  --max-aside-width:20%;
}
article, aside {float:right}
article {padding-left:0%;margin-left:0;margin-right:10%;}      
aside {margin-top:10rem;}

