/* Put sidebar on the left side of the page. Article area floats to the right. */
:root {
  --max-article-width:65%;
	--left-start:15%;
  --max-aside-width:15%;
}
article, aside {float:right}
article {padding-left:0%;margin-left:0;margin-right:10%;}      
aside {padding-left:0;padding-right:0;margin-right:1em;}



